body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Overpass';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,html{
  width:100%;
  height:100%;
}
#root{
  width:100%;
  height:100%;
}